.Bar {
  padding: 8px;
  border-radius: 12px;
}

.Bar svg {
  padding: 20px;
  margin-left: 20px;
  overflow: visible;
}

.BarGraphTooltip {
  font-family: Karla;
  position: absolute;
  padding: 6px;
  font: 12px sans-serif;
  background-color: #ffffff;
  border: 0;
  top: 0;
  border-radius: 8px;
  pointer-events: none;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 36%);
  display: none;
  position: absolute;
}

.BarAxis :global(.domain) {
  stroke-width: 0px;
}
